.leaflet-control-geocoder {
    background-color: #282828;
    display: inline-block;
    margin: 0;
    padding: 8px 0.5em;
    width: auto !important;
    pointer-events: all;
}

.leaflet-control-geocoder input {
    padding: 5px 0 6px 26px;
    background-color: white;
    background-image: url(images/geocoder.png);
    background-repeat: no-repeat;
    background-position: left;
    font-size: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.leaflet-control-geocoder-icon {
    display: none !important;
}

.leaflet-control-geocoder-alternatives li:hover {
    color: white;
}
