#import {
    background-color: white;
    top: 3em;
    left: 3em;
}

.file-import {
    padding-bottom: 0.5em;
    margin: 0.5em;
}

.file-import fieldset select {
    margin-right: 0.5em;
}

.coordinate-system-search {
    display: block;
    margin-bottom: 0.1em;
    width: 99%
}

.srid-search-results {
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: none;
}

.srid-search-results.enabled {
    display: block;
}

.srid-search-results .highlight {
    border: 1px dashed blue;
}

.srid-search-result {
    display: block;
    padding: 0.3em;
    background-color: white;
}

.srid-search-result:hover {
    background-color: lightgreen;
}

.coordinate-system {
    width: 20em;
    height: 10em;
    font-size: small;
}

.cancel-file-import {
    float:left;
}

.confirm-file-import {
    float: right;
}

@media print {
    #import {
	display: none;
    }
}