#left-pane {
    width: 100%;
    transition: width 0.3s;
}

#left-pane.contracted {
    width: 85%;
    transition: width 0.3s;
}

#layer-control {
    right: 0;
    transition: right 0.3s;
    top: 0;
    width: 15%;
    height: 100%;
    background: white;
    position: absolute;
    
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#layer-control h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

#layer-control.element-hidden {
    right: -15%;
    transition: right 0.3s;
}

.tabs {
    border-bottom: 1px solid grey;
}

.tab {
    padding: 0.5em;
    cursor: pointer;
    display: inline-block;
}

.tab.enabled {
    color: green;
}

#Upload-tab {
    float: right;
}

.tab-content {
    width: 100%;
    display: none;
}

.tab-content.enabled {
    display: block;
}

#layer-control label {
    display: block;
    cursor: pointer;
}

#layer-control form {
    border-bottom: thin dotted grey;
    padding-left: 0.5em;
}

#layer-control form:last-child {
    border-bottom: none;
}

.can-expand {
    max-height: 1em;
}

.can-expand.expanded {
    max-height: none;
}

input.opacity-slider {
    width: 97%;
}

.overlay-control {
    padding: 0.3em;
}

.overlay-control:hover {
    color: black;
    /* Colour chosen to leave the opacity slider visible/usable. */
    background-color: #E0F0FF;
}

.layer-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    /* Leave some space for the expander. */
    width: calc(100% - 0.7em);
    cursor: pointer;
}

.shape-layer-name:hover {
    font-weight: bold;
}

.expander {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.shape-layer-delete {
    float: right;
    width: 0.9em;
    cursor: pointer;
    font-family: monospace;
}

.overlay-control .open-button {
    margin-left: 0.3em;
    width: 1em;
    vertical-align: top;
    display: inline-block;
    font-size: large;
}

.choose-colour {
    display: inline-block;
}

.colour-picker {
    display: block;
    height: 100px;
}

.colour-indicator {
    width: 100px;
    height: 1em;
    display: block;
}
