.layer-control-button {
    width: 54px !important;
    margin-right: -1px !important;
    border-right: none;
	background-color: white;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.layer-control-button a.layer-control-button-link {
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	background-color: white;
	color: #282828;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.layer-count {
	font-family: 'fira_sansregular';
	font-size: 13px;
    float: right;
    padding-right: 0.1em;
}

.layer-control {
    background: white;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.layer-control h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.tabs {
    border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.tab {
	margin-right: 1em;
	padding-bottom: 0.5em;
    cursor: pointer;
    display: inline-block;
	font-family: 'fira_sansregular';
}

.tab:hover {
    color: #08b030;
}

.tab.enabled {
    color: #08b030;
}

#Upload-tab {
    float: right;
}

#Upload-tab::before {
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	content:'\0031';
	color: #999;
	margin-right: 5px;
}

.tab-content {
    width: 100%;
    display: none;
}

.tab-content.enabled {
    display: block;
}

#layer-control label {
    display: block;
    cursor: pointer;
}

#layer-control form {
    border-bottom: thin dotted grey;
    padding-left: 0.5em;
}

#layer-control form:last-child {
    border-bottom: none;
}


input.opacity-slider {
    width: 50%;
	height: 28px;
}

.overlay-control {
	padding: 5px 0 5px 30px;
	position: relative;
	border-bottom: 1px solid #ddd;
	transition: max-height 0.3s;
}

.overlay-control.can-expand {
    max-height: 1.5em;
}

.overlay-control.expanded {
    max-height: 5em;
}

.overlay-control::before {
	display: block;
	content: '\2022'; /* disc bullet */
	font-size: 80px;
	position: absolute;
	top: 15px;
	left: 0;
	color: #08b030;
	line-height: 0;
}

.overlay-control::after {
	display: block;
	content: '\0030'; /* tick */
	font-size: 12px;
	position: absolute;
	top: 16px;
	left: 7px;
	color: white;
	line-height: 0;
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	color: white;
}


.overlay-control .expander {
	position: absolute;
	top: 13px;
	right: 0;
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #999;
	cursor: pointer;
    transition: transform 0.3s, top 0.3s;    
}

.overlay-control.expanded .expander {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	top: 8px;
}



.layer-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    /* Leave some space for the expander. */
	padding-right: 20px;
    cursor: pointer;
	margin-bottom: 1em;
}

.shape-layer-name:hover {
    font-weight: bold;
}


.overlay-control .open-button,
.overlay-control .open-button.element-hidden,
.overlay-control .close-layer {
	color: white;
	background-color: #282828;
    display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
    margin-left: 10px;
    text-align: center;
    vertical-align: top;
	cursor: pointer;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.overlay-control .open-button.element-hidden,
.overlay-control .close-layer {
	background-color: #eee;
	color: #282828;
}

.overlay-control .open-button.element-hidden:hover,
.overlay-control .close-layer:hover {
	background-color: #ddd;
}

.map-example {
    width: 100%;
    height: 7em;
}

.colour-picker {
    display: inline-block;
}

.colour-picker span {
    width: 0.9em;
    height: 0.9em;
    margin: 0.1em;
    display: inline-block;
    cursor: pointer;
}

.colour-picker span:hover {
    outline: 1px solid grey;
}

.colour-picker span.selected {
    border: 1px solid black;
}


#All-tab-content .search-result {
	padding: 5px 0 5px 30px;
	position: relative;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    whitespace: nowrap;
    text-overflow: ellipsis;

}

#All-tab-content .search-result::before {
	display: block;
	content: '\2022'; /* disc bullet */
	font-size: 80px;
	position: absolute;
	top: 15px;
	left: 0;
	color: #bbb;
	line-height: 0;
}

#All-tab-content .search-result:hover {
	color: #08b030;
}

#All-tab-content .search-result.enabled::before {
	color: #08b030;
}

#All-tab-content .search-result.enabled::after {
	display: block;
	content: '\0030'; /* tick */
	font-size: 12px;
	position: absolute;
	top: 16px;
	left: 7px;
	color: white;
	line-height: 0;
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

#All-tab-content .search-result-fabricated {
    background-color: pink;
}


#All-tab-content .search-result.built-in-tile {
}

#All-tab-content input.search {
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.2);	
	padding: 0.5em;
	margin-bottom: 20px;
	width: 100%;
	font-size: 14px;
	box-sizing: border-box;
}

.drag-reorder {
    cursor: move;
}

@media print {
    .layer-control {
	display: none;
    }
}