.layer-control-button {
    width: 43px !important;
    margin-right: -1px !important;
    border-right: none;
}

.layer-control-button a.layer-control-button-link {
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.layer-count {
    float: right;
    padding-right: 0.1em;
}

.layer-control {
    background: white;
    
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.layer-control h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

.tabs {
    border-bottom: 1px solid grey;
}

.tab {
    padding: 0.5em;
    cursor: pointer;
    display: inline-block;
}

.tab.enabled {
    color: green;
}

#Upload-tab {
    float: right;
}

.tab-content {
    width: 100%;
    display: none;
}

.tab-content.enabled {
    display: block;
}

#layer-control label {
    display: block;
    cursor: pointer;
}

#layer-control form {
    border-bottom: thin dotted grey;
    padding-left: 0.5em;
}

#layer-control form:last-child {
    border-bottom: none;
}

.can-expand {
    max-height: 1em;
}

.can-expand.expanded {
    max-height: none;
}

input.opacity-slider {
    width: 97%;
}

.overlay-control {
    padding: 0.3em;
}

.overlay-control:hover {
    color: black;
    /* Colour chosen to leave the opacity slider visible/usable. */
    background-color: #E0F0FF;
}

.layer-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    /* Leave some space for the expander. */
    width: calc(100% - 0.7em);
    cursor: pointer;
}

.shape-layer-name:hover {
    font-weight: bold;
}

.expander {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.close-layer {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: black;
    color: white;
    margin-left: 0.3em;
    font-size: large;
    padding: 0.2em;
    text-align: center;
    vertical-align: top;
}

.overlay-control .open-button {
    margin-left: 0.3em;
    width: 1em;
    vertical-align: top;
    display: inline-block;
    font-size: large;
}

.map-example {
    width: 100%;
    height: 7em;
}

.colour-picker {
    display: inline-block;
}

.colour-picker span {
    width: 0.9em;
    height: 0.9em;
    margin: 0.1em;
    display: inline-block;
    cursor: pointer;
}

.colour-picker span:hover {
    outline: 1px solid grey;
}

.colour-picker span.selected {
    border: 1px solid black;
}

#All-tab-content .search-result {
    background-color: orange;
    overflow: hidden;
    whitespace: nowrap;
    text-overflow: ellipsis;
}

#All-tab-content .search-result.built-in-tile {
    border: 2px solid pink;
}

#All-tab-content .search-result.enabled {
    background-color: green;
}

.drag-reorder {
    cursor: move;
}