.legend {
    top: 5em;
    background-color: white;
    z-index: 10;
    overflow: hidden;
}

.tile-legend {
    padding: 10px;
}

.legend-label {
	font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin-bottom: 1em;
	padding-right: 25px;
}

.legend-chart {
}

.legend-chart rect.highlight {
    stroke: black;
}

.legend-chart text {
    font-size: 12px;
}
