.legend {
    top: 3em;
    background-color: white;
    z-index: 10;
    overflow: hidden;
}

.tile-legend {
    padding: 0.5em;
}

.legend-label {
    padding: 0.5em;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.legend-chart {
    padding-left: 0.4em;
}

.legend-chart rect.highlight {
    stroke: black;
}

.legend-chart text {
    font-size: 12px;
}
