.legend {
    top: calc(100% - 10em);
    background-color: white;
    z-index: 10;
    background-color: #F0F0F0;
}

.tile-legend {
    padding: 0.5em;
}

.legend-label {
    padding: 0.5em;
    font-size: small;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.legend-chart {
    padding-left: 0.4em;
}

.legend-chart rect.highlight {
    stroke: black;
}

.legend-chart text {
    font-size: xx-small;
}