body {
    margin: 0;
    padding: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

path {
    stroke: #444;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1px;
    cursor: pointer;
}

path.LineString {
    fill: none;
    stroke-width: 3px !important;
}


path.LineString.highlight {
    stroke-width: 5px !important;
}

path.Point.highlight {
    stroke-width: 2px !important;
}

.leaflet-overlay-pane {
    pointer-events: none;
}

.leaflet-zoom-hide {
    pointer-events: all;
}

.leaflet-control-geocoder {
    width: 23em;
}

@media print {
    /* Work around viewport units being 0 while printing: https://code.google.com/p/chromium/issues/detail?id=382313 */
    .leaflet-container {
	overflow: visible !important;
    }

    /* Hide leaflet tools. */
    .leaflet-control {
	display: none;
    }
}