body {
    margin: 0;
    padding: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
}

path {
    stroke: #444;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1px;
    cursor: pointer;
}

path.highlight {
    stroke: pink;
}

path.LineString {
    fill: none;
    stroke-width: 3px !important;
}

.leaflet-overlay-pane {
    pointer-events: none;
}

.leaflet-zoom-hide {
    pointer-events: all;
}