.file-menu {
    position: absolute;
    top: 0.6em;
    left: 3em;
    z-index: 1;
}

.toolbar {
    position: absolute;
    top: 10em;
    left: 0.7em;
    z-index: 1;
}

.toolbar .open-button {
    display: block;
}

@media print {
    #toolbar {
    	display: none !important;
    }
}
