#errors {
    position: absolute;
    top: calc(100% - 15em);
    left: 0;
    width: 99vw;
    height: 13em;
    background-color: white;
    z-index: 1;    
}

.error {
    border: 1px solid red;
}

.error-text {
    color: red;
    margin: 0.1em;
}

.close-error {
    position: absolute;
    right: 2.2em;
    top: 0;
}

.info {
    color: green;
    margin: 0.1em;
}