[submodule "lib/js-shapefile-to-geojson"]
	path = lib/js-shapefile-to-geojson
	url = git@github.com:GlennS/js-shapefile-to-geojson.git
[submodule "lib/d3-plugins"]
	path = lib/d3-plugins
	url = git@github.com:d3/d3-plugins.git
[submodule "lib/tiff.js"]
	path = lib/tiff.js
	url = git@github.com:seikichi/tiff.js.git
