[submodule "lib/js-shapefile-to-geojson"]
	path = lib/js-shapefile-to-geojson
	url = git@github.com:GlennS/js-shapefile-to-geojson.git
[submodule "lib/d3"]
	path = lib/d3
	url = git@github.com:mbostock/d3.git
[submodule "lib/d3-plugins"]
	path = lib/d3-plugins
	url = git@github.com:d3/d3-plugins.git
[submodule "lib/topojson"]
	path = lib/topojson
	url = git@github.com:mbostock/topojson.git
[submodule "lib/leaflet"]
	path = lib/leaflet
	url = git@github.com:Leaflet/Leaflet.git
[submodule "lib/proj4js"]
	path = lib/proj4js
	url = git@github.com:proj4js/proj4js.git
[submodule "lib/leaflet-control-osm-geocoder"]
	path = lib/leaflet-control-osm-geocoder
	url = git@github.com:k4r573n/leaflet-control-osm-geocoder.git
