path {
  stroke: #444;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 0.5px;
  pointer-events: all;
}

#map {
    display: inline-block;
}

#details {
    display: inline-block;
    vertical-align: top;
}
