body {
    margin: 0;
    padding: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#toolbar .open-button {
    display: block;
}

#title {
    font-size: x-large;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: darkslategrey;
    position: absolute;
    top: 0.3em;
    left: 2em;
    text-overflow: ellipsis;
    padding: 0.1em;
    margin: 0;
    width: 14em;
}

#toolbar {
    opacity: 0.6;
    position: absolute;
    top: 5em;
    left: 0.6em;
}

#toolbar:hover {
    opacity: 1.0;
}

#wiki-persistence {
    left: 3em;
    top: 3em;
}

#map {
    width: 100vw;
    height: 100vh;
}

path {
    stroke: #444;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1px;
    cursor: pointer;
}

path.LineString {
    fill: none;
    stroke-width: 3px !important;
}

#time {
    position: absolute;
    width: 20em;
    top: calc(100% - 8em);
    left: 0.6em;
    opacity: 0.7;
}

#time:hover {
    opacity: 1.0;
}

#time h2 {
    width: 3em;
    text-align: center;
    background-color: orange;
}

.time-input-wrapper {
    background-color: orange;
    overflow: hidden;
}

#time input {
    margin-left: 2.5%;
    width: 95%;
}

.results {
    text-align: right;
    left: 5em;
    top: 12em;
    max-width: 70vw;
    max-height: 70vh;
    font-size: x-small;
    background-color: #F0F0F0;
}

.results .resize-dialogue {
    background-color: #F0F0F0;
}

.results .close-button {
    background-color: #F0F0F0;
}

.results .content {
    height: 100%;
    padding: 0.5em 0.5em 0 0.5em;
}

.results-table {
    display:block;
    height: 100%;
    overflow: hidden;
}

.results-table thead {
    display: block;
    border-bottom: 1px solid gray;
    margin-bottom: 0.1em;
}

.results-table tbody {
    display: block;
    overflow: auto;
    height: calc(100% - 4em);
}

.extra-row {
    background-color: lightblue;
}

.results-table thead tr th {
    padding: 0.1em 0.4em 0.1em 0.4em;
    cursor: pointer;
    overflow: hidden;
}

.results-table tbody tr td {
    cursor: pointer;
    padding: 0.1em 0.4em 0.1em 0.4em;
}

th.sorted:before {
    content: "↑";
    font-family: monospace;
}

th.reverse:before {
    content: "↓";
    font-family: monospace;
}

.results thead tr th:hover {
    background-color: LightSlateGray;
}

.results tbody tr:hover {
    background-color: LightSteelBlue;
}

.results tbody tr td:hover {
    background-color: LightSlateGray;
}

.selected {
    outline: 1px solid red;
}

.reset-results {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

#messages {
    position: absolute;
    top: 0.6em;
    left: 25em;
    width: 25em;
    height: 13em;
    background-color: white;
}

.error {
    border: 1px solid red;
}

.error-text {
    color: red;
    margin: 0.1em;
}

.close-error {
    position: absolute;
    right: 2.2em;
    top: 0;
}

.info {
    color: green;
    margin: 0.1em;
}

#layer-control {
    left: calc(100% - 18em);
    width: 15em;
    top: 3em;
    background: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

#layer-control label {
    display: block;
    cursor: pointer;
}

#layer-control form {
    border-bottom: thin dotted grey;
}

#layer-control form:last-child {
    border-bottom: none;
}

.shape-layer-delete {
    float: right;
    cursor: pointer;
    font-family: monospace;
}

.shape-layer-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    width: calc(100% - 1em);
    float: left;
}

.shape-layer-name:hover {
    text-decoration: underline;
}

.shape-layer-name.disabled {
    text-decoration: none;
    color: grey;
    pointer-events: none;
}

.shape-overlay-control .open-button {
    margin-left: 0.3em;
    width: 1em;
    vertical-align: top;
    display: inline-block;
    font-size: large;
}

.choose-colour.element-visible {
    outline: thin solid black;
}

.colour-picker {
    top: 3em;
    left: calc(100% - 33em);
    opacity: 0.8;
}