body {
    margin: 0;
    padding: 0;
}

#left-pane {
    border-right: 1px solid grey;
    display: inline-block;
    width: 50vw;
    height: 100vh;
}

#map {
    width: 50vw;
    height: 99vh;
}

svg#overlay {
    width: 100vw;
    height: 100vh;
}

path {
    stroke: #444;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 0.5px;
    opacity: 0.3;
}

path:hover {
    stroke-width: 1px;
    stroke: green;
    opacity: 0.7;
}

path.selected {
    stroke-width: 1px;
    stroke: orange;
    opacity: 1.0;
}

path.selected:hover {
    stroke: yellow;
}

#layer-select {
    position: fixed;
    top: 0;
    left: 50px;
}

#layer-select ul {
    padding-left: 0;
}

#layer-select li {
    list-style-type: none;
    border: 2px black dashed;
    padding: 4px;
    margin: 4px;
    opacity: 0.8;
    background-color: orange;
}

#layer-select li:hover {
    opacity: 1.0;
    border-style: solid;
}

#time-control {
    position: fixed;
    width: 47vw;
    bottom: 25px;
    left: 2vw;
    pointer-events: none;
}

#time-control div {
    background-color: orange;
    border: 2px dashed black;
    padding-right: 10px;
    opacity: 0.7;
    pointer-events: auto;
}

#time-control div:hover {
    border-style: solid;
    opacity: 0.9;
}

#time-control div input {
    width: 100%;
}

#time-control h1 {
    padding: 4px;
    width: 3em;
    text-align: center;
    background-color: orange;
    border: 2px solid black;
    opacity: 0.9;
}

#worksheet {
    display: inline-block;
    vertical-align: top;
    height: 95vh;
    overflow: auto;
    width: 48%;
}

#results table thead tr th {
    border: 1px solid grey;
    text-align: center;
}

#results table thead tr th {
    border: 1px solid grey;
    text-align: center;
}

#results table thead tr th:hover {
    background-color: LightSlateGray;
}

#results table tbody tr:hover {
    background-color: LightSteelBlue;
}

#results table tbody tr td:hover {
    background-color: LightSlateGray;
}

#calculations ul {
    padding-left: 0;
}

#calculations li {
    list-style-type: none;
    border: 1px grey dashed;
    margin: 4px;
    padding: 4px;
    opacity: 0.9;
}

#calculations li.disabled {
    opacity: 0.6;
}

#calculations li:hover {
    opacity: 1.0;
    border-style: solid;
}

#messages {
    position: fixed;
    top: 10px;
    left: 25vw;
    width: 20vw;
}

.error {
    border: 2px solid red;
    color: red;
    padding: 4px;
    opacity: 0.8;
}

.info {
    border: 2px solid green;
    color: green;
    padding: 4px;
    opacity: 0.8;
}