path {
    stroke: #444;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 0.5px;
    opacity: 0.6;
}

path:hover {
    stroke-width: 1px;
    stroke: #1A1;
    opacity: 1.0;
}

path.selected {
    stroke-width: 1px;
    stroke: #11A;
    opacity: 1.0;
}

path.selected:hover {
    stroke: #1AA;
}

#map {
    display: inline-block;
}

#details {
    display: inline-block;
    vertical-align: top;
}

ul {
    border: 1px solid #111;
    padding: 0.5em 1.5em;
}